.contact {
  padding: 5rem 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  gap: 4rem;
}

.formWrapper {
  flex: 1;
}

.form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}
.label::selection {
  background-color:#9d00ff;
  color: black;
  
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.textarea {
  min-height: 150px;
  resize: vertical;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.infoWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoGroup {
  margin-bottom: 2rem;
}

.infoTitle {
  color: #007bff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.infoText {
  color: #555;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .contact {
    padding: 3rem 0;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .form {
    padding: 1.5rem;
  }
}

.contactMe {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin: 0 auto 3rem auto; /* Center the element and add bottom margin */
  border-bottom: 2px solid #9d00ff; /* Add a solid border only at the bottom */
  padding: 1rem; /* Add padding inside the border */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
  max-width: 200px; /* Set a maximum width */
}

.nextProjectText {
  color: #9d00ff;
  font-size: 2.5rem;
}
