.header {
  /* background-color: #333; */
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* Adjust as needed */
  width: auto;
}

.nav {
  flex-grow: 1;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.navLink:hover {
  color: #ddd;
}
/*This is for the mobile menu settings*/
.menuToggle {
  display: none;
  flex-direction: column;
  cursor:pointer;
}

.menuToggle span {
  background-color: #fff;
  border-radius: 2px;
  display:block;
  height: 3px;
  width: 25px;

}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoContainer {
    margin-bottom: 1rem;
  }

  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000000;
    width: 100%;
    text-align: center;
  }
  .navList.active{
    display:flex;
  }
  .navItem{
    margin: 1rem 0;
  }

  .menuToggle{
    display: flex;
  }

  .navLink {
    padding: 0.5rem 0;
  }
}